.column {
    float: left;
    xpadding: 10px;
    xheight: 300px; /* Should be removed. Only for demonstration */
}

.left {
    width: 500px;
}

.right {
    xwidth: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.graphhead {
    padding-top: 1em;
}